<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Admin | Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  background-color: #f8f8f8 !important;
  font-size: 12px !important;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif !important;
}

#header-box {
  height: 220px;
  width: 100%;
  background-color: rgba(111, 4, 50, 0.59);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#backUOP {
  z-index: 5011;
  position: absolute;
  left: 15px;
  top: 15px;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/doext/oo-left-arrow-grey.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#userInfoContainer {
  z-index: 100;
  width: 310px;
  position: absolute;
  top: 100px;
  left: 50%;
  height: 400px;
  z-index: 5000;
  overflow: hidden;
  border-radius: 5px;
  margin-left: -155px;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#userInfoHeader-1, #userInfoHeader-2 {
  background-color: #fbfbfb;
  border-radius: 5px 5px 0px 0px;
  width: 310px;
  height: 50px;
  padding-left: 25px;
  padding-top: 12px;
  font-size: 14px;
  color: #939393;
  font-weight: 500;
}

#uIImageDiv {
  position: relative;
  margin-top: 30px;
  margin-left: 25px;
}

#uII-2 {
  position: absolute;
  background-color: #C90000;
  top: 28px;
  left: 45px;
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/doext/oo-speech-bubble.png);
  width: 53px;
  height: 33px;
  background-repeat: no-repeat;
  background-size: 53px 33px;
}
.group {
  margin-top: 35px;
  position: relative;
  margin-bottom: 40px;
  margin-left: 25px;
}

.group input {
  font-size: 18px;
  font-weight: 400;
  padding-top: 12px;
  display: block;
  width: 260px;
  border: none;
  border-bottom: 1px solid #cbcbcb;
}

.group input:focus { 
  outline:none; 
}

.group input:-webkit-autofill,
.group input:-webkit-autofill:hover,
.group input:-webkit-autofill:focus,
.group input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.group label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left: 0px;
  top: 10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.group input:focus ~ label, .group input:valid ~ label {
  top: -5px;
  font-size: 11px;
}

#userMobileGroup input:focus ~ span, #userMobileGroup input:valid ~ span {
  display: block !important;
}

#userMobileGroup input {
  width: 220px;
}

#userInfoButton, #otpVerifyButton {
  border-radius: 5px;
  background-color: #C90000;
  color: #ffffff;
  width: 125px;
  height: 40px;
  margin-left: 25px;
  cursor: pointer;
  border: 0px;
  font-size: 14px;
}

button:focus, button:active {
  outline: 0px;
  text-decoration: none;
}

#userMobileGroup span {
  color: #888;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 12px;
}

#invalidPhoneL, #invalidNameL, #invalidEmailL {
  position: absolute;
  left: 85px;
  color: red;
  bottom: 58px;
  font-size: 10px;
  font-weight: 400;
}

#invalidNameL, #invalidEmailL {
  top: 40px;
}
.sclblQ, .group input:focus ~ label, .group input:valid ~ label {
    color: #C90000;
}

.login-page p {
    margin-left: 25px;
    font-size: 14px;
    color: #a8a8a8;
    font-weight: 500;
    margin-top: 10px;
}

#resendOTP {
  background: #C90000 !important;
  color: #ffffff !important;
  position: absolute;
  width: 60px;
  height: 22px;
  border: 0px;
  border-radius: 5px;
  bottom: 85px;
  right: 50px;
}

#otp-Message {
    font-size: 10px;
    color: red;
    margin-top: 10px;
    position: absolute;
    top: 30px;
    left: 80px;
}
</style>
<script src="/libs/jQuery/jquery-3.2.1.min.js"></script>
<script>
if(!$) {
  $ = jQuery;
}
$(document).ready(function(e) {

  $('#userInfoButton, #resendOTP').bind('click', function(e) {
    e.preventDefault();
    var validated = true;
    var cust_phno = $('#cust_phoneNo').prop("value");

    if(!cust_phno || cust_phno == "" || isNaN(cust_phno) || cust_phno.length != 10) {
        $('#cust_phoneNo').focus();
        validated = false;
        $('#invalidPhoneL').fadeIn();
        setTimeout(function(){
            $('#invalidPhoneL').fadeOut();
        }, 2000);
        return false;
    }

    if(validated) {
      var custPhoneNo = "91" + cust_phno;

      $.post("/generateOTP",{
          phone: custPhoneNo,
      }, function(result, status) {
        if(result.status == 1) {
          $('#cust_userName').val('');
          if(result.name) {
            $('#cust_userName, #cust_useremail').parents('.group').hide();
          }
          $('#otp-Message').html('');
          $('#cust_otp').val('');
          slideToVerifyPage();
        }
      });
    }
  });

  $('#backUOP').unbind("click");
  $('#backUOP').bind('click', function(e) {
      $('#otp-send-page').show();
      $("#otp-verify-page").animate({
          left: '310px'
      }, 300, function() {
          $('#otp-verify-page').hide();
      });

      $('#otp-send-page').animate({
          left: '0px'
      }, 300);
  });
  function slideToVerifyPage() {
    $('#otp-verify-page').show();
    $("#otp-send-page").animate({
        left: '-310px'
    }, 300, function() {
        $('#otp-send-page').hide();
        $('#otpCallButton span').html("(10s)");
        setIntervalCall(1000, 10); 
    });

    $('#otp-verify-page').animate({
        left: '0px'
    }, 300);
  }

  $('#otpVerifyButton').bind("click", function(){
    var otp = $('#cust_otp').prop("value");
    verifyOTP(otp);
    return true;
  })

  function verifyOTP(otp) {
    var validated = true;
    if($('#cust_userName').parents('.group').css("display") != "none") {
      var cust_name = $('#cust_userName').prop("value");
      var cust_email = $('#cust_useremail').prop("value");

      if(!cust_name || cust_name == ""){
          $('#cust_userName').focus();
          validated = false;
          $('#invalidNameL').fadeIn();
          setTimeout(function(){
              $('#invalidNameL').fadeOut();
              $('#cust_otp').val('');
          }, 2000);
          return false;
      }

      var emailValidation = /^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/
      var tests = cust_email.match(emailValidation);
      if(!tests) {
          $('#cust_useremail').focus();
          validated = false;
          $('#invalidEmailL').fadeIn();
          setTimeout(function(){
              $('#invalidEmailL').fadeOut();
              $('#cust_otp').val('');
          }, 2000);
          return false;
      }
    }

    var custPhoneNo = "91" + $('#cust_phoneNo').prop("value");

    if(validated) {
        $.post("/verifyOTP", {
            phone: custPhoneNo,
            otp: otp,
            name: cust_name,
            email: cust_email,
        }, function(result, status) {
            $('#otp-Message').html(result.Msg);
            if(result.status == 1) {
              window.location.href = '/chat'; 
            }
        });
    }
  }
})
</script>
</head>
<body>
<div id="header-box">

</div>
<div id="userInfoContainer">
  <div id="otp-send-page" style="left: 0px; top: 0px; position: absolute;">
    <div id="userInfoHeader-1">
      Please enter details.<br>This will take less than a min.
    </div>
    <div class="login-page" class="pages" style="display: block;">
      <div id="uIImageDiv">
        <img id="uII-1" width="67" height="117" src="https://s3-ap-southeast-1.amazonaws.com/doext/oo-otp-phone.png" />
        <div id="uII-2"/></div>
      </div>
      <form class="otpRequest-form">
        <div class="group" id="userMobileGroup">
          <input type="text" maxlength="10" id="cust_phoneNo" autocomplete="off" style="padding-left: 35px" required/>
          <label>Mobile Number</label>
          <span style="display:none">+91</span>
        </div>
        <label id="invalidPhoneL" style="display: none">Enter Valid Mobile Number</label>
        <button id="userInfoButton">Send OTP</button>
      </form>
    </div>
  </div>
  <div id="otp-verify-page" class="pages" style="left:310px; top: 0px; position: absolute; display: none">
    <div id="userInfoHeader-2">
      <a id="backUOP"></a>
    </div>
    <div class="login-page">
      <form class="otpVerify-form">
        <div class="group" style="margin-top: 18px; margin-bottom: 18px;">
          <input type="text" id="cust_userName" autocomplete="off" required/>
          <label>Your Name</label>
          <label id="invalidNameL" style="display: none">Enter Name</label>
        </div>
        <div class="group" style="margin-top: 18px; margin-bottom: 46px">
          <input type="text" id="cust_useremail" autocomplete="off" required />
          <label>Email ID</label>
        </div>
        <p style="margin-top: 50px;">We've sent you an sms!</p>
        <div class="group" style="margin-top: 8px">
          <input type="text" maxlength="4" id="cust_otp" autocomplete="off" required />
          <label>Enter OTP</label>
          <p id="otp-Message"></p>
        </div>
        <button id="resendOTP">Resend</button>
        <button id="otpVerifyButton">Verify OTP</button>
      </form>
    </div>
  </div>
</div>
</body>